<div class="content">
    
    <span style="font-size: 60px; color:#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</span>
    <span style="font-size: 60px; color:#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</span>
    <strong style="font-size: 50px; color:#db920a">D</strong>
    <strong style="font-size: 50px; color:#ffffff">iabetic</strong>
    <strong style="font-size: 50px; color:#ffffff">&nbsp</strong>
    <strong style="font-size: 50px; color:#db920a">D</strong>
    <strong style="font-size: 50px; color:#ffffff">ata</strong>
    <strong style="font-size: 50px; color:#ffffff">&nbsp</strong>
    <strong style="font-size: 50px; color:#db920a">A</strong>
    <strong style="font-size: 50px; color:#ffffff">nalysis</strong>
    <h3><a style="color:#ffffff ; text-decoration: none">&nbsp;</a></h3>
    

    <h2 style="color:#db920a">&nbsp;&nbsp;&nbsp;Prediction of your readmission</h1>
    <h3><a style="color:#ffffff ; text-decoration: none" href="api">&nbsp;&nbsp;- API</a></h3>

    <h3><a style="color:#ffffff ; text-decoration: none">&nbsp;</a></h3>

    <h2 style="color:#db920a">&nbsp;&nbsp;&nbsp;Visualization of the Data</h1>
    <h3><a style="color:#ffffff ; text-decoration: none" href="chart1">&nbsp;&nbsp;- Readmitted proportion</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="chart8">&nbsp;&nbsp;- People readmitted or not depending of the sexe of the people</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="chart2">&nbsp;&nbsp;- Time in Hospital with Readmission</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="chart3">&nbsp;&nbsp;- Readmission with Insulin</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="chart4">&nbsp;&nbsp;- Readmission with the number of medications</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="chart5">&nbsp;&nbsp;- Readmission with Diabetes Med</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="chart6">&nbsp;&nbsp;- Labs Procedures with Age and Readmission</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="chart7">&nbsp;&nbsp;- Admission type with readmission</a></h3>    
    <h3><a style="color:#ffffff ; text-decoration: none" href="chart9">&nbsp;&nbsp;- Disposition type with readmission</a></h3>

    <h3><a style="color:#ffffff ; text-decoration: none">&nbsp;</a></h3>

    <h2 style="color:#db920a">&nbsp;&nbsp;&nbsp;Machine Learning</h1>

    <h3><a style="color:#ffffff ; text-decoration: none" href="lr">&nbsp;&nbsp;- Logistic Regression</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="da">&nbsp;&nbsp;- Discriminant Analysis</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="dt">&nbsp;&nbsp;- Decision tree model</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="rf">&nbsp;&nbsp;- Random forest</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="bo">&nbsp;&nbsp;- Boosting</a></h3>
    <h3><a style="color:#ffffff ; text-decoration: none" href="comparison">&nbsp;&nbsp;- Comparison of the models</a></h3>

    <h3><a style="color:#ffffff ; text-decoration: none">&nbsp;</a></h3>
    

    <h3 style="font-size: 15px ; text-align: center ; color:#fdfbf7">Léonard Baesen & Sébastien Buquet</h3>
    
    <style>
      body {
        background-image: url('https://wallpaperbat.com/img/31679-medical-wallpaper-background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
    </style>
</div>
